@import url(./global.css);

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-header ul li a {
    color: var(--color-secundary-black);
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    text-decoration: none;
}

.btn-header{
    color: var(--color-secundary-white);
    text-decoration: none;
    background-color: var(--color-primary-orange);
    padding: 12px 30px;
    border-radius: 15px 3px;
    font-size: var(--font-button-size);
    font-family: var(--font-title);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 0px;
}

.content-main {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

h1 {
    color: var(--color-secundary-black);
    font-size: var(--font-headline-h1-size);
    font-family: var(--font-title);
    width: 562px;
}

h1 span {
    color: var(--color-primary-orange);
}

.content-main p {
    color: var(--color-secundary-gray);
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    width: 544px;
    line-height: 30px;
}

.container-btn-main {
    display: flex;
    gap: 20px;
}



