@import url(./global.css);

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-header ul li a {
    color: var(--color-secundary-black);
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    text-decoration: none;
}

.btn-header {
    color: var(--color-secundary-white);
    text-decoration: none;
    background-color: var(--color-primary-orange);
    padding: 12px 30px;
    border-radius: 15px 3px;
    font-size: var(--font-button-size);
    font-family: var(--font-title);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 0px;
}

.content-main {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

h1 {
    color: var(--color-secundary-black);
    font-size: var(--font-headline-h1-size);
    font-family: var(--font-title);
    width: 562px;
}

.highlighted-word {
    color: var(--color-primary-orange);
}

.content-main p {
    color: var(--color-secundary-gray);
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    width: 544px;
    line-height: 30px;
}

.container-btn-main {
    display: flex;
    gap: 20px;
}

.section-differences {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--color-primary-orange-10);
    padding: 60px 0;
    gap: 40px;
}


.differences-cards-container {
    display: flex;
    gap: 70px;
}

.differences-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10px ;
    border: solid 1px var(--color-secundary-gray);
    padding: 20px;
    gap: 10px;
    text-align: center;
}

.differences-card h3 {
    width: 181px;
    height: 56px;
}

.differences-card p {
    font-size: var(--font-body);
    color: var(--color-secundary-gray);
    font-family: var(--font-body);
    width: 227px;
    height: 60px;
    line-height: 30px;
}

.section-chef {
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 60px;
    padding: 60px 0px;
}

.chef-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.chef-content h2 {
    width: 433px;
    height: 109px;
}

.chef-content p {
    font-size: var(--font-body);
    color: var(--color-secundary-gray);
    font-family: var(--font-body);
    width: 503px;
    line-height: 30px;
}


.featured-dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-orange-10);
    gap: 25px;
    padding: 60px 0px;
}

.container-card-dishes {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 101px ;

}

.card-dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 300px;
    background-color: var(--color-secundary-white);
    border: 1px solid #D3D3D3;
    border-radius: 20px 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    position: relative;
    padding: 123px 15px 45px;
    
}

.card-dishes img {
    position: absolute;
    top: -101px;
}

.card-dishes h3 {
    width: 174px;
}

.card-dishes p {
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    line-height: 30px;
    color: var(--color-secundary-gray);
    width: 271px;

}


.section-our-environments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px;
}

.container-environments {
    display: flex;
    align-items: center;
    gap: 20px;

}

.box1 {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 35px;
}
.box1 div {
    display: flex;
    gap: 29px;
}

.section-our-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-orange-10);
    padding: 60px 0px;
    gap: 25px;
}

.container-reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    padding: 25px 20px;
    border-radius: 40px 8px;
    background-color: var(--color-secundary-white);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.client-review {
    display: flex;
    align-items: center;
    gap: 15px;
}

.client-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.client-name h3 {
    font-size: var(--font-headline-h4-size);
}

.card-reviews p {
    font-family: var(--font-body);
    width: 358px;
    color: var(--color-secondary-dark);
}

.container-stars {
    display:flex ;
    gap: 5px;
}

.section-reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px 0px;
}

.container-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-input label {
    font-family: var(--font-body);
}

.box-input input {
    border: 1px solid #5C6574;
    height: 35px;
    width: 450px;
    border-radius: 5px;
}

.container-box-input{
    display: flex;
    gap: 10px;
}

.container-box-input input{
    width: 220px;
}

textarea {
    border: 1px solid #5C6574;
    height: 100px;
    width: 450px;
    border-radius: 5px;
}

form button {
    align-self: flex-start;
    cursor: pointer;
}

.section-maps {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
    background-color: var(--color-primary-orange-10);
}

.section-maps iframe {
    width: 90vw;
    height: 60vh;
}